<%- include('partials/header') %>

<h1>Welcome to My Portfolio</h1>

<p>Hello, I am MD Rifat Khan and this is my protfolio website.
    <br> My course is COMP229
    <br> Student ID : 301271730 
    <br> Section: 001</p>
<!-- <a href="/about">About Me</a>
<a href="/contact">Contact</a>
<a href="/projects">My projects</a>
<a href="/services">services</a> -->

<%- include('partials/footer') %>