<%- include('partials/header') %>

<h1>Projects</h1>
<ul>
  <li>
    <h2>Project 1: Portfolio Website</h2>
    <p>A showcase of my skills and projects.</p>
  </li>
  <li>
    <h2>Project 2: 
        lorem ipsum
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </li>
</ul>
<%- include('partials/footer') %>

